body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.links{
    color: #2aa7a3;
}


#createAccount{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 0.5px solid #E8E8E8;
    border-radius: 10px;
    padding: 2%;
}


.pageHeader{
    color: #008385;
}

#login{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 0.5px solid #E8E8E8;
    border-radius: 10px;
    padding: 2%;
}

#loginHeader{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top:10%;
    font-size: 350%;
    color: #48d1cc;

}

#createAccountHeader{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top:5%;
    font-size: 350%;
    color: #48d1cc;

}

#welcome{
    margin:5%;
    font-size: 350%;
}

#accountInstructions{
    margin-top:15%;

}

.splitGrid{
    margin-top:5%;
}


#lectureMatchInstructions{
    width:40%;
}

#uploadButton{
    margin-top:2%;
}

#courseCodeMessage{
    width:50%;
}
.courseForm{
    width: 30%;
    top:20%;
    padding: 2%;
}
